MASTODON_HOST=https://mas.to
# MASTODON_ACCESS_TOKEN=

BLUESKY_HOST=https://bsky.social
# BLUESKY_IDENTIFIER=your-handle.bsky.social
# BLUESKY_PASSWORD=



# BLUESKY_HOST=
# BLUESKY_IDENTIFIER=
# BLUESKY_DID=
# BLUESKY_PASSWORD=
# MASTODON_HOST=
# MASTODON_CLIENT_KEY=
# MASTODON_CLIENT_SECRET=
# MASTODON_ACCESS_TOKEN=
